---
import Layout from "../layouts/Layout.astro";
import Header from "@components/Header.astro";
import Hero from "@components/Hero.astro";
import Gallery from "@components/Gallery.astro";
import Footer from "@components/Footer.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main class="container mx-auto">
    <Hero />
    <Gallery />
    <Footer />
  </main>
</Layout>
