<footer class="m-4 rounded-lg bg-white shadow-sm dark:bg-gray-800">
  <div
    class="mx-auto w-full max-w-screen-2xl px-4 py-6 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 dark:text-gray-400 sm:text-center"
      >© 2025 <a href="/github.com/martinmilani" class="hover:underline"
        >Martin Milani</a
      >. All Rights Reserved.
    </span>
    <ul
      class="mt-3 flex flex-wrap items-center text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
    >
      <li>
        <a href="https://github.com/martinmilani" class="hover:underline"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</footer>
