<section class="py-28">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
    <h1
      class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
    >
      <span class="text-dracula-400">rEFInd</span> Theme Collection
    </h1>
    <p
      class="text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400 text-pretty"
    >
      A small collection of themes mostly from github's rEFInd-theme topic and
      official rEFInd themes website that allow you to effortlessly chose your
      favorite and style your boot manager.
    </p>
  </div>
</section>
